@page
@model Talakado.AdminPanel.Pages.CatalogType.CreateModel
@{
}

<div class="col-lg-12 col-12 layout-spacing" id="rootDiv">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4> ثبت دسته بندی جدید  </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            @if(Model.Message != null){
                @foreach (var item in Model.Message)
                {
                    <div class="alert alert-info">
                        <p>@item</p>
                    </div>
                }
            }
            <form asp-page="create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4" style="display:inline;">
                    <label asp-for="CatalogType.Type"> </label>
                    <input type="text" class="form-control" asp-for="CatalogType.Type" id="catalog-name">
                    <span asp-validation-for="CatalogType.Type" class="text-danger"></span>
                </div>
                <div class="form-control">
                    <input type="file" name="catalogImage" id="catalogImage" accept="image/*" />
                </div>
                <input type="hidden" asp-for="CatalogType.ParentCatalogTypeId" />
                <input type="button" onclick="Save()" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
            </form>

        </div>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function Save() {
            var file = document.getElementById('catalogImage');
            
            var data = new FormData();
            data.append("name", $('#catalog-name').val());
            data.append("ParentCatalogTypeId", $('#ParentCatalogTypeId').val());
            data.append("file", file.files[0]);

            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./create",
                data: data,
                success: function (result,msgOrParentId) {
                    if (result === "true") {alert("dddd")
                        console.log(result + " " + msgOrParentId + " " + window.origin);
                        //window.location.replace(window.origin + "/CatalogType?parentid=" + msgOrParentId);
                    }
                    else {
                        swal.fire(
                            'پیام خطا!',
                            msgOrParentId,
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
         
            
        }
    </script>

}