@page
@model Talakado.AdminPanel.Pages.CatalogType.CreateModel
@{
    ViewData["Title"] = "ثبت دسته بندی جدید";
}

<div  style="width:75%;margin:auto" id="rootDiv">
    <div class="row">
        <div>
            <form asp-page="create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4" style="display:inline;">
                    <label asp-for="CatalogType.Type"> </label>
                    <input type="text" class="form-control" asp-for="CatalogType.Type" id="catalog-name" />
                    <span asp-validation-for="CatalogType.Type" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group mb-4">
                    <label>تصویر دسته بندی</label><br />
                    <input type="file" name="catalogImage" id="catalogImage" accept="image/*"  />
                </div>
                <br />
                <input type="hidden" asp-for="CatalogType.ParentCatalogTypeId" />
                <input type="button" onclick="Save()" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
            </form>
        </div>
    </div>
</div>

@* <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
 *@


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function Save() {
            var file = document.getElementById('catalogImage');
            
            var data = new FormData();
            data.append("name", $('#catalog-name').val());
            data.append("ParentCatalogTypeId", $('#CatalogType_ParentCatalogTypeId').val());
            data.append("file", file.files[0]);

            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./create",
                data: data,
                success: function (result) {
                    if (result[0] === "false") {
                        swal.fire(
                            'پیام خطا!',
                            'عملیات با خطا مواجه شد',
                            'Error'
                        );
                    }
                    else {

                        window.location.replace(window.origin + "/CatalogType?parentid=" + result);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
         
            
        }
    </script>

}