@page
@model Talakado.AdminPanel.Pages.CatalogType.EditModel
@{
    ViewData["Title"] = "ویرایش دسته بندی";
}
<div style="width:75%;margin:auto">
    <div>
        <form asp-page="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4" style="display:inline;">
                <label asp-for="CatalogType.Type"> </label>
                <input type="text" class="form-control" asp-for="CatalogType.Type" id="catalog-name" />
                <span asp-validation-for="CatalogType.Type" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mb-4">
                <label>تصویر دسته بندی</label><br />
                <input type="file" name="catalogImage" id="catalogImage" accept="image/*" style="display:inline" />
                <img src="@Model.CatalogType.ImageAddress" width="50" height="50" style="display:inline" />
            </div>
            <br />
            <input type="hidden" asp-for="CatalogType.ParentCatalogTypeId" />
            <input type="hidden" asp-for="CatalogType.Id" />
            <input type="button" onclick="Save()" name="time" value="ثبت" class="btn btn-primary">
            <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function Save() {
            var file = document.getElementById('catalogImage');

            var data = new FormData();
            data.append("name", $('#catalog-name').val());
            data.append("ParentCatalogTypeId", $('#CatalogType_ParentCatalogTypeId').val());
            data.append("Id", $('#CatalogType_Id').val());
            data.append("file", file.files[0]);

            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./edit",
                data: data,
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت',
                            'ویرایش با موفقیت انجام شد',
                            'Success'
                        );
                    }
                    else {

                        swal.fire(
                            'پیام خطا!',
                            result,
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });


        }
    </script>


}