
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">

    <div class="error-wrap ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-content">
                        <span class="trans_text v4">خطا!</span>
                        <h2>@TempData["message"]</h2>
                        @* <p>صفحه ای که به دنبال آن هستید در دسترس نیست</p> *@
                        <a href="@Url.Action("ShipingPayment", "Basket")" class="btn style3"><i class="flaticon-left-arrow-1"></i>بازگشت به صفحه سفارش و پرداخت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>