@using Talakado.Application.Dtos
@model OrderDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}


<section class="wishlist-wrap ptb-100 ">
    <div class="container">
        <div class="row gx-4">
            <div class="col-xxl-9 col-xl-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wishlist-table ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">موارد</th>
                                        <th scope="col">قیمت</th>
                                        <th scope="col">تعداد</th>
                                        <th scope="col">مجموع</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="wh_item">
                                                <div class="wh_item_img">
                                                    <img src="assets/img/product/product-thumb-1.png" alt="Image">
                                                </div>
                                                <div class="wh_item-info text-left">
                                                    <a href="single-product.html">حلقه الماس</a>
                                                    <span>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است؟</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price">1100 تومان</p>
                                        </td>
                                        <td>
                                            <div class="wh_qty">
                                                <div class="product-quantity">
                                                    <div class="qtySelector">
                                                        <span class="las la-minus decreaseQty"></span>
                                                        <input type="text" class="qtyValue" value="1" />
                                                        <span class="las la-plus increaseQty"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price text-red">1100 تومان</p>
                                        </td>
                                        <td>
                                            <button class="cart-action" type="button">
                                                <i class="las la-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wh_item">
                                                <div class="wh_item_img">
                                                    <img src="assets/img/product/product-thumb-2.png" alt="Image">
                                                </div>
                                                <div class="wh_item-info text-left">
                                                    <a href="single-product.html">حلقه طلا</a>
                                                    <span>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است؟</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price">1200 تومان</p>
                                        </td>
                                        <td>
                                            <div class="wh_qty">
                                                <div class="product-quantity">
                                                    <div class="qtySelector">
                                                        <span class="las la-minus decreaseQty"></span>
                                                        <input type="text" class="qtyValue" value="1" />
                                                        <span class="las la-plus increaseQty"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price text-red">1200 تومان</p>
                                        </td>
                                        <td>
                                            <button class="cart-action" type="button">
                                                <i class="las la-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wh_item">
                                                <div class="wh_item_img">
                                                    <img src="assets/img/product/product-thumb-3.png" alt="Image">
                                                </div>
                                                <div class="wh_item-info text-left">
                                                    <a href="single-product.html">دستبند طلا</a>
                                                    <span>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است؟</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price">9400 تومان</p>
                                        </td>
                                        <td>
                                            <div class="wh_qty">
                                                <div class="product-quantity">
                                                    <div class="qtySelector">
                                                        <span class="las la-minus decreaseQty"></span>
                                                        <input type="text" class="qtyValue" value="1" />
                                                        <span class="las la-plus increaseQty"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price text-red">9400 تومان</p>
                                        </td>
                                        <td>
                                            <button class="cart-action" type="button">
                                                <i class="las la-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="wh_item">
                                                <div class="wh_item_img">
                                                    <img src="assets/img/product/product-thumb-4.png" alt="Image">
                                                </div>
                                                <div class="wh_item-info text-left">
                                                    <a href="single-product.html">حلقه ازدواج</a>
                                                    <span>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است؟</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price">1200 تومان</p>
                                        </td>
                                        <td>
                                            <div class="wh_qty">
                                                <div class="product-quantity">
                                                    <div class="qtySelector">
                                                        <span class="las la-minus decreaseQty"></span>
                                                        <input type="text" class="qtyValue" value="1" />
                                                        <span class="las la-plus increaseQty"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="wh-tem-price text-red">1200 تومان</p>
                                        </td>
                                        <td>
                                            <button class="cart-action" type="button">
                                                <i class="las la-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="shop-left-sidebar.html" class="btn style4">بازگشت به فروشگاه</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4">
                <div class="checkout-details">
                    <div class="content-box-title">
                        <h5>خلاصه سفارش</h5>
                    </div>
                    <div class="bill-details">
                        <div class="bill-item-wrap">
                            <div class="bill-item">
                                <div class="bill-item-name">
                                    <p>حلقه طلایی</p>
                                </div>
                                <div class="bill-item-price">
                                    <span>1100 تومان</span>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="bill-item-name">
                                    <p>حلقه الماس</p>
                                </div>
                                <div class="bill-item-price">
                                    <span>1200 تومان</span>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="bill-item-name">
                                    <p>دستبند طلا</p>
                                </div>
                                <div class="bill-item-price">
                                    <span>9400 تومان</span>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="bill-item-name">
                                    <p>حلقه ازدواج</p>
                                </div>
                                <div class="bill-item-price">
                                    <span>1200 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="subtotal-wrap">
                            <div class="subtotal-item pt-1">
                                <div class="subtotal-item-left">
                                    <h6>مجموع</h6>
                                </div>
                                <div class="subtotal-item-right">
                                    <span>9700 تومان</span>
                                </div>
                            </div>
                            <div class="subtotal-item">
                                <h6>دارای یک کد تخفیف؟</h6>
                                <div class="form-group mb-0 w-100">
                                    <input class="w-100" type="text" placeholder="کد تخفیف را وارد کنید">
                                    <button type="submit">اعمال</button>
                                </div>
                            </div>
                            <div class="subtotal-item">
                                <div class="subtotal-item-left">
                                    <p>کرایه حمل</p>
                                </div>
                                <div class="subtotal-item-right">
                                    <p>1000 تومان</p>
                                </div>
                            </div>
                        </div>
                        <div class="total-wrap">
                            <h5>مبلغ پرداخت</h5>
                            <span>9900 تومان</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="select-method">
                            <div>
                                <input type="radio" id="test1" name="radio-group">
                                <label for="test1">پرداخت هنگام تحویل</label>
                            </div>
                            <div>
                                <input type="radio" id="test2" name="radio-group">
                                <label for="test2">کارت</label>
                            </div>
                            <div>
                                <input type="radio" id="test3" name="radio-group">
                                <label for="test3">بررسی</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <button type="button" class="btn style1">ادامه و پرداخت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>