@using Talakado.Application.Orders.CustomerOrderServices;
@model List<MyOrderDto>
@{
    ViewData["Title"] = "سفارشات من";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}

<h1>OrderList</h1>

