@model IEnumerable<Talakado.Application.Users.UserAddressDto>
@{
    ViewData["Title"] = "آدرس ها";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}
<a class="btn style2 mb-0" onclick="openAddAddressModal()">ایجاد آدرس جدید</a>
<section>
    <div class="container-md">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-10">
                        <label>آدرس پستی</label>
                        <p>@item.PostalAddress</p>
                    </div>
                    <div class="col-2">
                        <label>نام گیرنده</label>
                        <p>@item.ReciverName</p>
                    </div>
                    <hr />
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-10">
                    <h3 class="mt-50">تاکنون آدرسی ثبت نشده است</h3>
                </div>
            </div>
        }

    </div>
</section>



<div class="modal" id="addAddressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("add", "address")">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>استان*</label><br />
                            <input type="text" name="State" id="State" placeholder="نام استان را وارد کنید" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>شهر*</label><br />
                            <input type="text" name="City" id="City" placeholder="نام شهر خود را وارد کنید" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>کد پستی*</label><br />
                            <input type="text" name="ZipCode" id="ZipCode" placeholder="کدپستی خود را وارد کنید" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>نام گیرنده*</label><br />
                            <input type="text" name="ReciverName" id="ReciverName" placeholder="نام گیرنده را وارد کنید" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>آدرس کامل</label><br />
                            <textarea name="PostalAddress" id="PostalAddress" cols="55" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SendAddAddressModalData('@Url.Action("Add","Address")')">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function openAddAddressModal(){
            $('#addAddressModal').modal("show");
        }

        function SendAddAddressModalData(address){
            var data = {
                State: $('#State').val(),
                City: $('#City').val(),
                ZipCode: $('#ZipCode').val(),
                PostalAddress: $('#PostalAddress').val(),
                ReciverName: $('#ReciverName').val(),
            }
            console.log(data)
            $.ajax({
                url: address,
                method: "post",
                data: { data },
                contentType: "application/json",
                success: function (result) {
                    console.log(result)
                    // if (result) {
                    //     location.reload();
                    // }
                    // swal.fire(
                    //     'پیام هشدار!',
                    //     "ثبت با مشکل مواجه شده است",
                    //     'Error'
                    // );
                }
            });
        }
    </script>
}