@using Talakado.Application.Catalogs.CatalogItems.CatalogItemServices;
@using Talakado.Application.Dtos;
@model PaginatedItemDto<FavoriteCatalogItemDto>

@{
    ViewData["Title"] = "لیست علاقه مندی ها";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}




<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6">
        @foreach (var item in Model.Data)
        {
            <div class="product-card style1">
                <div class="product-img">
                    <img src="@item.Image" alt="Image">
                    <div class="product-option">
                        <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                        <button class="add-to-wishlist" type="button">
                            <i class="lar la-heart"></i>
                        </button>
                        <button class="add-to-cart" type="button">
                            <i class="las la-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product-info">
                    <h4 class="product-name"><a class="text-black" href="single-product.html">@item.Name</a></h4>
                    <p class="product-promo-text">
                        موجودی @item.AvailableStock.ToString("n0") 
                    </p>
                    <div class="product-price">
                        <span class="text-sienna">@item.Price تومان</span> @* <span class="discount">2100 تومان</span> *@
                    </div>
                    <ul class="ratings style1 list-style">
                        <li class="rated"><i class="las la-star"></i></li>
                        <li class="rated"><i class="las la-star"></i></li>
                        <li class="rated"><i class="las la-star"></i></li>
                        <li class="rated"><i class="las la-star"></i></li>
                        <li class="rated"><i class="las la-star"></i></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>