@using Talakado.Application.Catalogs.CatalogItems.CatalogItemServices;
@using Talakado.Application.Dtos;
@model PaginatedItemDto<FavoriteCatalogItemDto>

@{
    ViewData["Title"] = "لیست علاقه مندی ها";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}




<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-1.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه زمرد</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-2.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه الماس</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="non-rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-3.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه طلا</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="non-rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-4.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه ازدواج</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-5.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">گردنبند سنگ</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="non-rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-6.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره زمرد</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="non-rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-7.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">دستبند طلا</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-8.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">گوشواره مروارید</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="product-card style1">
            <div class="product-img">
                <img src="assets/img/product/product-3.jpg" alt="Image">
                <div class="product-option">
                    <button class="quickview" type="button" data-bs-toggle="modal" data-bs-target="#productModal"> <i class="lar la-eye"></i> </button>
                    <button class="add-to-wishlist" type="button">
                        <i class="lar la-heart"></i>
                    </button>
                    <button class="add-to-cart" type="button">
                        <i class="las la-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-name"><a class="text-black" href="single-product.html">حلقه زمرد</a></h4>
                <p class="product-promo-text">
                    موجود در انبار و نسخه کمیاب
                </p>
                <div class="product-price">
                    <span class="text-sienna">1100 تومان</span> <span class="discount">2100 تومان</span>
                </div>
                <ul class="ratings style1 list-style">
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="rated"><i class="las la-star"></i></li>
                    <li class="non-rated"><i class="las la-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>