@page
@model Talakado.AdminPanel.Pages.Content.MainPageModel
@{
    ViewData["Title"] = "مدیریت محتوای صفحه اصلی";
}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">متن بالای هدر</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-page-handler="SetAdvertismentPhrase">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adverticePhrase">متن </label>
                            <input type="text" class="form-control" id="adverticePhrase" placeholder="" value="@Model.HomePageViewmodel.Phrase">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="advetiseIsShow" asp-for="@Model.HomePageViewmodel.IsShowPhrase" /> نمایش متن فعال باشد
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="SendAdvertise()" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">شماره تماس فروشگاه</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddPhoneNumber">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adverticePhrase">شماره </label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="" value="@Model.HomePageViewmodel.PhoneNumber">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="phoneNumberIsShow" asp-for="@Model.HomePageViewmodel.IsShowPhoneNumber" /> نمایش شماره فعال باشد
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="SendPhoneNumber()" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">آپلود اسلاید اول</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">عکس اسلاید اول </label>
                            <input type="file" class="form-control" id="slide1" multiple class="form-control" accept="image/*" name="slide1" >
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="SendImage()" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        function SendAdvertise() {
            var adverticePhrase = $('#adverticePhrase').val();
            var advetiseIsShow = $('#advetiseIsShow').is(':checked');
            if (adverticePhrase == "") {
                swal.fire(
                    'پیام هشدار!',
                    "عبارت تبلیغاتی نباید خالی باشد",
                    'Error'
                );
                return;
            } 
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=SetAdvertismentPhrase",
                data: { 'phraseTxt': adverticePhrase, 'isShow': advetiseIsShow },
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'عبارت تبلیغاتی با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عبارت انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }


        function SendPhoneNumber() {
            var phoneNumber = $('#phoneNumber').val();
            var phoneNumberIsShow = $('#phoneNumberIsShow').is(':checked');
            if (phoneNumber == "") {
                swal.fire(
                    'پیام هشدار!',
                    "شماره تلفن نباید خالی باشد",
                    'Error'
                );
                return;
            }
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=AddPhoneNumber",
                data: { 'phoneNumberTxt': phoneNumber, 'isShow': phoneNumberIsShow },
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'شماره تلفن با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عبارت انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }


        function SendImage() {
            var slide1 = document.getElementById("slide1");
            if (slide1.files.length > 0) {
                var data = new FormData();
                data.append("slide1", slide1.files[0]);
                data.append("slideNumber", "slide1");
            }
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=AddImage",
                data: data ,
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'عکس با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عکس انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }
    </script>
}