@page
@model Talakado.AdminPanel.Pages.Content.MainPageModel
@{
    ViewData["Title"] = "مدیریت محتوای صفحه اصلی";
}
@section Styles {
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/lib/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" />
}
<div class="container-fluid">

    <div class="row mainpageRow">
        <h4 class="box-header text-bold">بخش هدر(قسمت بالای سایت)</h4>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">متن بالای هدر</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-page-handler="SetAdvertismentPhrase">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="adverticePhrase">متن </label>
                            <input type="text" class="form-control" id="adverticePhrase" placeholder="" value="@Model.HomePageViewmodel.Phrase">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="advetiseIsShow" asp-for="@Model.HomePageViewmodel.IsShowPhrase" /> نمایش متن فعال باشد
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="SendAdvertise()" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">شماره تماس فروشگاه</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddPhoneNumber">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="adverticePhrase">شماره </label>
                                <input type="text" class="form-control" id="phoneNumber" placeholder="" value="@Model.HomePageViewmodel.PhoneNumber">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="phoneNumberIsShow" asp-for="@Model.HomePageViewmodel.IsShowPhoneNumber" /> نمایش شماره فعال باشد
                                </label>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendPhoneNumber()" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <br />
    <div class="row mainpageRow">
        <h4 class="box-header text-bold">بخش اسلایدر</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">آپلود اسلاید اول</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس اسلاید اول </label>
                                <input type="file" class="form-control" id="slide1" class="form-control" accept="image/*" name="slide1">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('slide1')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">آپلود اسلاید دوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس اسلاید دوم </label>
                                <input type="file" class="form-control" id="slide2" multiple class="form-control" accept="image/*" name="slide2">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('slide2')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">آپلود اسلاید سوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-antiforgery="true" asp-page-handler="AddImage">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">عکس اسلاید سوم </label>
                                <input type="file" class="form-control" id="slide3" multiple class="form-control" accept="image/*" name="slide3">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendImage('slide3')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">متن اسلاید اول</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="slide1txtForm" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label>قابل طراحی با ادیتور</label>
                                <textarea id="slide1txt" name="slide1txt" class="form-control" rows="5"></textarea>
                                @* <textarea name="area1" cols="40"></textarea> *@
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendContent('slide1Text', 'slide1txtForm', 'null')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">متن اسلاید دوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="slide2txtForm" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label>قابل طراحی با ادیتور</label>
                                <textarea id="slide2txt" name="slide2txt" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendContent('slide2Text', 'slide2txtForm', 'null')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">متن اسلاید سوم</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="slide3txtForm" method="post" asp-antiforgery="true" asp-page-handler="SetContent">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">قابل طراحی با ادیتور</label>
                                <textarea id="slide3txt" name="slide3txt" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="SendContent('slide3Text', 'slide3txtForm', 'null')" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="//js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>

    <script>
        bkLib.onDomLoaded(function () { nicEditors.allTextAreas() });
    </script>

    <script>
        function SendAdvertise() {
            var adverticePhrase = $('#adverticePhrase').val();
            var advetiseIsShow = $('#advetiseIsShow').is(':checked');
            if (adverticePhrase == "") {
                swal.fire(
                    'پیام هشدار!',
                    "عبارت تبلیغاتی نباید خالی باشد",
                    'Error'
                );
                return;
            } 
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=SetAdvertismentPhrase",
                data: { 'phraseTxt': adverticePhrase, 'isShow': advetiseIsShow },
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'عبارت تبلیغاتی با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عبارت انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }


        function SendPhoneNumber() {
            var phoneNumber = $('#phoneNumber').val();
            var phoneNumberIsShow = $('#phoneNumberIsShow').is(':checked');
            if (phoneNumber == "") {
                swal.fire(
                    'پیام هشدار!',
                    "شماره تلفن نباید خالی باشد",
                    'Error'
                );
                return;
            }
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=AddPhoneNumber",
                data: { 'phoneNumberTxt': phoneNumber, 'isShow': phoneNumberIsShow },
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'شماره تلفن با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عبارت انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }


        function SendImage(slideNum) {
            var slide = document.getElementById(slideNum);
            if (slide.files.length > 0) {
                var data = new FormData();
                data.append(slideNum, slide.files[0]);
                data.append("slideNumber", slideNum);
            
            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                contentType: false,
                processData: false,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=AddImage",
                data: data ,
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'عکس با موفقیت ذخیره شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره عکس انجام نشد " + result,
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
            }
            else{
                swal.fire(
                    'پیام هشدار!',
                    "خطا در بارگذاری فایل",
                    'Error'
                );
            }
        }

        function SendContent(key, contentId, isShow){
            var content = $('#' + contentId).find('.nicEdit-main').text();
            var IsShow = true;
            if(isShow !== 'null'){
                IsShow = $('#' + isShow).is(': checked');
            }

            //ارسال به سرور با ای جکس
            var ajaxRequest = $.ajax({
                type: "post",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "./mainpage?handler=SetContent",
                data: { 'key': key, 'txt': content, 'isShow': IsShow },
                success: function (result) {
                    if (result === "true") {
                        swal.fire(
                            'پیام موفقیت!',
                            'متن با موفقیت ثبت شد',
                            'success'
                        );
                    } else {
                        swal.fire(
                            'پیام هشدار!',
                            "عملیات ذخیره متن انجام نشد",
                            'Error'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        }
    </script>
}